<div class='my-4'>
  <%= render partial: "answers/errors", locals: {answer: answer} %>
  <div class="form-group">
    <div class="row g-0">
      <% if answer.question.not_dot? %>
        <% if answer.question.double_dot? %>
          <div class="col-2 g-0 text-center">
          </div>
        <% else %>
          <div class="col-2 text-center">
            <%= answer.question.question_text_with_section_if_first %>
          </div>
        <% end %>
      <% end %>
      <% answer.question.columns.each do | column | %>
        <div class="col g-0 text-center">
          <%= column.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
