<%= render partial: "answers/errors", locals: {answer: answer} %>
<div class="form-group">
  <div class="row">
    <div class="col-2">
      <%= f.label :answer_text, answer.question.question_text %>
    </div>
    <div class="col-10 text-center">
      <div class='rating'>
        <%- answer.question.options.reverse.each_with_index do |option, index| %>
          <%= f.radio_button :answer_text, option, id: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}" %>
          <%= f.label "answer_text_#{index}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
