<div class='row mx-4 my-4'>
  <div class='col-10'>
    <%= answer.question.question_text_with_section_if_first %>
    <%= render partial: "answers/errors", locals: {answer: answer} %>
  </div>
  <div class='col'>
    <%= f.select :answer_text, answer.question.options, {include_blank: true}, { class: 'form-select', data: {previously: ''} }  %>
  </div>
</div>

<% if answer.question.last_select_question_on_section? && answer.question.rules[:uniqueness_on_section].present? %>
  <script>
    var selects = document.querySelectorAll('.form-select');

    selects.forEach(el => {el.addEventListener('change', event => {
      disableOptions(el)
    }
    )});

    function disableOptions(el){
      var selectedValue = el.value;
      var previouslySelectedValue = el.getAttribute("data-previously");

      if (previouslySelectedValue !== '') {
        selects.forEach(function(otherSelect) {
          if (otherSelect !== el) {
            var options = otherSelect.querySelectorAll("option");
            options.forEach(function(option) {
              if (option.value === previouslySelectedValue) {
                option.disabled = false;
              }
            });
          }
        });
      }

      if (selectedValue !== "") {
        selects.forEach(function(otherSelect) {
          if (otherSelect !== el) {
            var options = otherSelect.querySelectorAll("option");
            options.forEach(function(option) {
              if (option.value === selectedValue) {
                option.disabled = true;
              }
            });
          }
        })
      }
      el.setAttribute("data-previously", selectedValue)
    }
  </script>
<% end %>
