<div id="<%= dom_id document %>">
  <p>
    <strong>Client:</strong>
    <%= document.client_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= document.name %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= link_to 'Download File', rails_blob_path(document.file, disposition: 'attachment') if document.file.attached? %>
  </p>
</div>
