/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "settings";
@import "bootstrap";
@import 'actiontext.css';

.rating {
  border:none;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float:left;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
}
.rating:not(:checked) > label:before {
  content:'★ '; 
}
.rating > input:checked ~ label {
  color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position:relative;
}

.results {
  .header {
    font-size: 16px;
  }
}