<div class="mx-0 mx-sm-auto">
  <%= form_for([@survey.client, @survey, @attempt_builder]) do |f| %>
    <div class="card">
      <div class="card-body">
        <%= render 'header'%>

        <hr>
        <div class='row p-3'>
          <p><%= @survey.introduction %></p>
        </div>

      </div>
      <div class="card-footer text-end">
        <%= f.submit 'Next', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
