<div class='mx-4'>
  <%= render "question_results/results_header", result: result -%>
  <%= render "question_results/average", result: result -%>
  <%= column_chart result.results, download: true, adapter: "google" %>
</div>
