<div class='mx-4 results'>
  <%= render "question_results/results_header", result: result -%>
  <%= render "question_results/average", result: result -%>
  <%= pie_chart result.results, download: true, adapter: "google" %>
</div>
